.dep-div {
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.dep-div .closebutton {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
}

#svg-div {
   background-color: rgba(255,255,255,.5);
   text-align: center;
   position:absolute;
   top:75px;
   left:50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
}

#source-code {
    position: absolute;
    width:100vw;
    height:22vh;
    max-height: 20vh;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,.5);
}

.pre-scrollable{
    width:100vw;
    height:20vh;
    max-height: 20vh;
    margin: auto;
    overflow-y:scroll;
}

g text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

/* This styles the font of cell id in the pre box */
.cellid {
  font-size: 1.3em;
  font-family: monospace;
  color: #303F9F;
  margin: 0;
}

/* This styles the body of the tooltip */
.source {
  white-space: pre-line;
  color: #fff;
  font-size: 1.2em;
}

.cluster {
  fill: green;
}

.internal rect{
    fill-opacity: 0;
    rx: 10px;
    ry: 10px;
    stroke: white;
    stroke-width: 1.5px;
    stroke-linejoin: round;
}

.internal rect tspan{
    stroke: none;
    fill:white;
}

.cluster.stale {
    fill: red;
}

.cluster rect{
    stroke: #999;
    fill-opacity: 1;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    rx: 10px;
    ry: 10px;
}

tspan {
    pointer-events: none;
}

#selected {
    fill:orange;
}

.control-div{
    width:50%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
    align: center;
}
