.newCell::before {
    content: url(./img/fa/plus-circle.svg);
div.icon_status {
    display: block;
    cursor: pointer;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1ex;
    padding-right: 1ex;
    width: 1ex;
}
.editedNewCell::before {
    content: url(./img/fa/plus-circle-yellow.svg);
}
.errorCell::before{
    content: url(./img/fa/times-circle.svg);
}
.executing::before{
    content: url(./img/fa/clock.svg);
}
.success::before {
    content: url(./img/fa/check-circle.svg);
}
.edited::before{
    content: url(./img/fa/exclamation-circle.svg);
}
.saved_success_cell::before{
    content: url(./img/fa/check-circle-yellow.svg);
}
.saved_error_cell::before{
    content: url(./img/fa/times-circle-yellow.svg);
}
