/*.dataflow-toolbar-container {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-grow: 1;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/

/*.dependency-area {*/
    /*display: block;*/
    /*width: 50%;*/
/*}*/

/*.celltoolbar {*/
    /*height: auto;*/
/*}*/

/* css overflow by Josh Crozier
https://stackoverflow.com/questions/34519511/smart-overflow-in-html-is-there-any-way-to-put-ellipsis-with-a-link-at#answer-34519915
*/
/*.smart-overflow {*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
/*}*/
/*a.ellipsis-link {*/
  /*display: none;*/
/*}*/
/*.smart-overflow a.ellipsis-link {*/
  /*display: block;*/
  /*position: relative;*/
  /*right: 0; bottom: 0;*/
  /*width: 1.2em;*/
  /*height: 100%;*/
  /*cursor: pointer;*/
/*}*/

.dftoolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dftoolbar-inline {
    display:flex;
    align-items:center; /* vertically aligned! */
    justify-content: center;
}

.dftoolbar-inline i.fa-chevron-circle-down {
    font-size: 1.5em;
}

.dftoolbar-inline i.fa-chevron-circle-up {
    font-size: 1.5em;
}

.dftoolbar-links {
    padding-left: 2px;
    padding-right: 2px;
}

.dftoolbar-inline .form-check-label {
    margin-bottom: 0;
}

.dftoolbar-inline .form-check-input {
    margin-top: 0;
}

.fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

/* https://stackoverflow.com/questions/28723319/draw-a-slash-line-over-glyphicon-or-font-awesome-icon-using-css */
.crossed-out:after{
    position: relative;
    content: '|';
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    left: -0.075em;
    top: -0.075em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
