.dftoolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dftoolbar-inline {
    display:flex;
    align-items:center;
    justify-content: center;
}

.dftoolbar-inline i.fa-chevron-circle-down {
    font-size: 1.4em;
}

.dftoolbar-inline i.fa-chevron-circle-up {
    font-size: 1.4em;
}

.dftoolbar-links {
    padding-left: 3px;
    padding-right: 3px;
    font-family: monospace;
}

.dftoolbar-inputs .btn-default {
    color: #303F9F;
}


.dftoolbar-outputs .btn-default {
    color: #D84315;
}


.fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

/* https://stackoverflow.com/questions/28723319/draw-a-slash-line-over-glyphicon-or-font-awesome-icon-using-css */
.crossed-out:after{
    position: relative;
    content: '|';
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    left: -0.075em;
    top: -0.075em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
