#minimap {
   width: 500px;
   height: 100%;
    z-index: -999;
    background-color: rgba(255,255,255,.5);
    overflow-x: hidden;
    transition: 0.5s;
}

#minisvg {
  display:block;
  width: 500px;
  height: 500px !important;
}

#minisvg circle,rect,path,text{
    display:block;
}

#minimap .active_node{
  fill:#3b5fc0;
}

#minimap g{
  display:block;
}

#minimap rect{
  stroke:none;
}

#minimap .active{
  stroke:#3b5fc0;
  color:#3b5fc0;
}

#minimap .move_left{
  transform: translate(15px,0);
}

#minimap .move_right{
  transform: translate(-15px,0);
}

#minimap .hidden{
  display:none;
}

#minimap tspan {
  stroke: #c4c4c4;
  color: #c4c4c4;
  font-family: monospace;
}


#minimap tspan.outtag{
  stroke: #000;
  color: #000;
}

#minimap text.active > tspan.outtag{
  stroke: #3b5fc0;
  color: #3b5fc0;
}