#minimap {
   width: 500px;
   height: 100%;
    z-index: -999;
    background-color: rgba(255,255,255,.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.cells{
  fill:none;
  stroke-width: 1px;
  stroke: black;
    stroke-dasharray: 4;
    stroke-dashoffset: 2;
}

#minisvg {
  display:block;
  width: 500px;
  height: 500px !important;
}

#minisvg circle,rect,path,text{
    display:block;
}

#minimap .active_node{
  fill:#3b5fc0;
}

#minimap g{
  display:block;
}

#minimap rect:not(.cells){
  stroke:none;
}

#minimap .active:not(.gray){
  stroke:#3b5fc0;
  color:#3b5fc0;
}

#minimap .move_left{
  transform: translate(15px,0);
}

#minimap .move_right{
  transform: translate(-15px,0);
}

#minimap .hidden{
  display:none;
}

#minimap tspan {
  stroke: #c4c4c4;
  color: #c4c4c4;
  font-family: monospace;
}


#minimap tspan.outtag{
  stroke: #000;
  color: #000;
}

#minimap text.active > tspan.outtag{
  stroke: #3b5fc0;
  color: #3b5fc0;
}

.active_node:not(.gray){
  fill:#3b5fc0;
}

g{
  display:block;
}

rect{
  stroke:none;
}

.active:not(.gray),.imm{
  stroke:#3b5fc0 !important;
  color:#3b5fc0 !important;
  fill: #3b5fc0 !important;
}

.imm .source,.imm .destination, .active:not(.gray) .source, .active:not(.gray) .destination{
  stroke:#3b5fc0 !important;
}

.move_left{
  transform: translate(15px,0);
}

.move_right{
  transform: translate(-15px,0);
}

.hidden{
  display:none;
}

.gray{
  stroke:#c4c4c4;
  color:#c4c4c4;
  fill: #c4c4c4;
}

.gray .source,.gray .destination{
  stroke: #c4c4c4;
  color:#c4c4c4;
}

svg text { font-family: monospace; }

.source{
  stroke:black;
}

.destination{
  stroke:black;
}

#side-panel-mini{
    display:inline-block;
    width:100%;
    height:100%;
    float:right;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 