#minimap {
   width: 500px;
   height: 500px;
}

#minimap .active_node{
  fill:#3b5fc0;
}

#minimap g{
  display:block;
}

#minimap rect{
  stroke:none;
}

#minimap .active{
  stroke:#3b5fc0;
  color:#3b5fc0;
}

#minimap .move_left{
  transform: translate(15px,0);
}

#minimap .move_right{
  transform: translate(-15px,0);
}

#minimap .hidden{
  display:none;
}

#minimap text { font-family: monospace; }